<div class="flex h-screen">
  <div class="flex-1 relative">
    <app-message-dialog
      *ngIf="errorMessage"
      title="Error"
      message="{{ errorMessage }}"
      [showButtons]="false"
      cancelButtonText="Try again"
      (cancel)="closeError()"
    ></app-message-dialog>

    <!-- Show map only when there is no error -->
    <app-cesium-map *ngIf="!errorMessage" class="absolute inset-0"></app-cesium-map>
  </div>

  <div class="w-96 bg-gray-100 border-l border-gray-300 shadow-lg p-4 overflow-y-auto">
    <app-flight-detail></app-flight-detail>
  </div>
</div>
